============================================================================================

#Prepare Color Histogram & Sizes Data For KNN


============================================================================================

In [2]:
import warnings

warnings.filterwarnings('ignore', category=DeprecationWarning)

In [4]:
import pandas as pd
import numpy as np

from subprocess import check_output
print (check_output(["ls", "data"]).decode("utf-8"))

athenaeum_authors_preview.csv
athenaeum_painting_filtered.csv
athenaeum_paintings.csv
athenaeum_paintings_sizes.csv
color_histograms.csv
complete_data.csv
images
images_athenaeum
images_sizes_2325.csv
net_predicted.csv
painter_info_clean.csv
painting_info_clean.csv
resized_200
test_author200.csv
test_data.csv
train_author200.csv
train_data.csv

In [38]:
test_author200 = pd.read_csv('data/test_author200.csv')
train_author200 = pd.read_csv('data/train_author200.csv')
color_hist = pd.read_csv('data/color_histograms.csv')

print "[INFO] The size of test data: " + str(test_author200.shape)
print "[INFO] The size of train data: " + str(train_author200.shape)
print "[INFO] The size of color histogram: " + str(color_hist.shape)
train_author200.head(3)

[INFO] The size of test data: (12473, 12)
[INFO] The size of train data: (49890, 12)
[INFO] The size of color histogram: (206550, 32)

,medium,painting_location,height,article_type,painting_url,painting_dates,painting_title,author_id,painting_id,width,height_px,width_px
0,oil on canvas,Munch-museet (Norway - Oslo),90.0,Painting,http://www.the-athenaeum.org/art/display_image...,1907-1908,Mason and Mechanic,1793,52573,69.5,722,534
1,oil on canvas,"Royal Botanic Gardens, Kew (United Kingdom - ...",107.0,Painting,http://www.the-athenaeum.org/art/display_image...,circa 1880,A South African Sedge,9266,207890,45.0,944,384
2,oil on canvas,Watts Gallery - Compton (Surrey) (United King...,137.0,Painting,http://www.the-athenaeum.org/art/display_image...,1849-1850,Under the Dry Arch,502,214715,101.5,944,677

In [39]:
train_subset = train_author200[['painting_id', 'height_px', 'width_px']]
test_subset = test_author200[['painting_id', 'height_px', 'width_px']]
train_subset.head(2)

   painting_id  height_px  width_px
0        52573        722       534
1       207890        944       384

In [40]:
train_hist = color_hist.merge(train_subset, how = 'right', on = 'painting_id')
print "[INFO] The size of train histogram for KNN" + str(train_hist.shape)
train_hist.head(2)

[INFO] The size of train histogram for KNN(49890, 34)

,author_id,painting_id,hist_01,hist_02,hist_03,hist_04,hist_05,hist_06,hist_07,hist_08,...,hist_23,hist_24,hist_25,hist_26,hist_27,hist_28,hist_29,hist_30,height_px,width_px
0,444,11653,141479,107241,3576,1031,1010,3886,568,2650,...,144006,99116,46843,25371,63071,67621,69665,480656,742,952
1,444,12097,1429,713,600,581,1362,3304,8280,16148,...,174675,107953,51343,77403,128000,147619,172075,150541,941,718

In [41]:
test_hist = color_hist.merge(test_subset, how = 'right', on = 'painting_id')
print "[INFO] The size of test histogram for KNN" + str(test_hist.shape)
test_hist.head(2)

[INFO] The size of test histogram for KNN(12473, 34)

,author_id,painting_id,hist_01,hist_02,hist_03,hist_04,hist_05,hist_06,hist_07,hist_08,...,hist_23,hist_24,hist_25,hist_26,hist_27,hist_28,hist_29,hist_30,height_px,width_px
0,444,12077,7603,1687,587,348,403,538,671,959,...,99139,69539,24143,46874,97427,117568,102332,79799,555,800
1,444,87820,18868,4502,1403,696,672,763,857,1430,...,352276,123167,17879,17396,139326,225701,318966,413491,871,1280

In [42]:
# Random Forest color histogram Dataset
train_hist.to_csv("data/train_hist_author_rf.csv", index=False)
test_hist.to_csv("data/test_hist_author_rf.csv", index=False)

In [36]:
# Scaling height_px, width_px for KNN
train_hist.iloc[:, -2] = train_hist.iloc[:, -2] / train_hist.height_px.max()
train_hist.iloc[:, -1] = train_hist.iloc[:, -1] / train_hist.width_px.max()

test_hist.iloc[:, -2] = test_hist.iloc[:, -2] / train_hist.height_px.max()
test_hist.iloc[:, -1] = test_hist.iloc[:, -1] / train_hist.width_px.max()

In [28]:
# KNN color histogram Dataset
train_hist.to_csv("data/train_hist_author_knn.csv", index=False)
test_hist.to_csv("data/test_hist_author_knn.csv", index=False)

============================================================================================

# Prepare Data For Random Forest

============================================================================================

In [29]:
test_author200 = pd.read_csv('data/test_author200.csv')
train_author200 = pd.read_csv('data/train_author200.csv')
color_hist = pd.read_csv('data/color_histograms.csv')

print "[INFO] The size of test data: " + str(test_author200.shape)
print "[INFO] The size of train data: " + str(train_author200.shape)
print "[INFO] The size of color histogram: " + str(color_hist.shape)
train_author200.head(3)

[INFO] The size of test data: (12473, 12)
[INFO] The size of train data: (49890, 12)
[INFO] The size of color histogram: (206550, 32)

,medium,painting_location,height,article_type,painting_url,painting_dates,painting_title,author_id,painting_id,width,height_px,width_px
0,oil on canvas,Munch-museet (Norway - Oslo),90.0,Painting,http://www.the-athenaeum.org/art/display_image...,1907-1908,Mason and Mechanic,1793,52573,69.5,722,534
1,oil on canvas,"Royal Botanic Gardens, Kew (United Kingdom - ...",107.0,Painting,http://www.the-athenaeum.org/art/display_image...,circa 1880,A South African Sedge,9266,207890,45.0,944,384
2,oil on canvas,Watts Gallery - Compton (Surrey) (United King...,137.0,Painting,http://www.the-athenaeum.org/art/display_image...,1849-1850,Under the Dry Arch,502,214715,101.5,944,677

In [30]:
train_subset = train_author200[['painting_id', 'height_px', 'width_px']]
test_subset = test_author200[['painting_id', 'height_px', 'width_px']]
train_hist = color_hist.merge(train_subset, how = 'right', on = 'painting_id')
test_hist = color_hist.merge(test_subset, how = 'right', on = 'painting_id')

In [ ]:
train_hist.to_csv("data/train_hist_author_knn.csv", index=False)
test_hist.to_csv("data/test_hist_author_knn.csv", index=False)

In [31]:
test_hist.head(1)

,author_id,painting_id,hist_01,hist_02,hist_03,hist_04,hist_05,hist_06,hist_07,hist_08,...,hist_23,hist_24,hist_25,hist_26,hist_27,hist_28,hist_29,hist_30,height_px,width_px
0,444,12077,7603,1687,587,348,403,538,671,959,...,99139,69539,24143,46874,97427,117568,102332,79799,555,800