In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import re, sys, time

In [2]:
paintings = pd.read_csv('data/athenaeum_paintings_sizes.csv')

In [3]:
paintings = paintings[~paintings['painting_location'].isin(['Private collection', 'Unknown'])]\
    .dropna(subset = ['painting_location'])

In [4]:
paintings['painting_location'].unique()

array(['Art Institute of Chicago \xc2\xa0(United States - Chicago)',
       'Ordrupgaard Collection - Copenhagen \xc2\xa0(Denmark - Copenhagen)',
       'Ashmolean Museum of Art and Archaeology - University of Oxford \xc2\xa0(United Kingdom - Oxford)',
       ...,
       'Chiesa di San Francesco Grande - Padua \xc2\xa0(Italy - Padua)',
       'Villa San Remigio \xc2\xa0(Italy - Verbania Pallanza)',
       'San Giuseppe di Castello - Venice \xc2\xa0(Italy - Venice)'], dtype=object)

In [5]:
location_matcher = re.compile(r'^(.*)\(([^-]+)(?: - (.+))?\)$')

In [6]:
paintings.loc[paintings['painting_location'].apply(lambda x: location_matcher.match(x) is None), 'painting_location']

Series([], Name: painting_location, dtype: object)

In [7]:
matches = paintings['painting_location'].apply(location_matcher.match)

In [8]:
paintings['country'] = matches.apply(lambda x: x.group(2))

In [9]:
paintings.head()

,medium,painting_location,height,article_type,painting_url,painting_dates,painting_title,author_id,painting_id,width,height_px,width_px,country
2,oil on canvas,Art Institute of Chicago (United States - Chi...,65.0,Painting,http://www.the-athenaeum.org/art/display_image...,1900,"Waterloo Bridge, Grey Weather",13,3268,93.0,571.0,800.0,United States
3,oil on canvas,Ordrupgaard Collection - Copenhagen (Denmark ...,NaN,Painting,http://www.the-athenaeum.org/art/display_image...,1899-1901,"Waterloo Bridge, Grey Weather",13,3817,NaN,682.0,1066.0,Denmark
4,oil on canvas,Ashmolean Museum of Art and Archaeology - Univ...,41.0,Painting,http://www.the-athenaeum.org/art/display_image...,1871,Windmill near Zaandam,13,3076,72.5,590.0,1056.0,United Kingdom
5,oil on canvas,National Gallery of Art - Washington DC (Unit...,60.0,Painting,http://www.the-athenaeum.org/art/display_image...,1890,"Charing Cross Bridge, London",444,12091,90.0,505.0,800.0,United States
6,oil on canvas,Lowe Art Museum - Miami (United States - Miam...,NaN,Painting,http://www.the-athenaeum.org/art/display_image...,1899-1901,"Waterloo Bridge, Sunlight Effect",13,3828,NaN,665.0,1030.0,United States

In [10]:
paintings['city'] = matches.apply(lambda x: x.group(3) if x.group(3) is not None else x.group(1).strip())

In [57]:
paintings.loc[matches.apply(lambda x: x.group(3) is None), ['painting_location', 'country', 'city']]

,painting_location,country,city
422,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
461,Churches - Italy (Italy),Italy,Churches - Italy
486,Milntown House (Isle of Man),Isle of Man,Milntown House
604,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,Hartlepool Museums and Heritage Service
652,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
786,Hill of Tarvit - National Trust for Scotland ...,United Kingdom,Hill of Tarvit - National Trust for Scotland
991,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
994,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
995,Southwark Art Collection - London (United Kin...,United Kingdom,Southwark Art Collection - London
998,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
1116,Churches - Italy (Italy),Italy,Churches - Italy
2739,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,Hartlepool Museums and Heritage Service
2750,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,Hartlepool Museums and Heritage Service
3043,Churches - Italy (Italy),Italy,Churches - Italy
5877,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,Hartlepool Museums and Heritage Service
5890,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
7452,St Andrews Town Hall (United Kingdom),United Kingdom,St Andrews Town Hall
7521,East Lothian Council (United Kingdom),United Kingdom,East Lothian Council
7951,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
7955,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
7956,National Trust - UK (United Kingdom),United Kingdom,National Trust - UK
8719,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
8720,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
8745,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
8901,Churches - Italy (Italy),Italy,Churches - Italy
9265,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
9641,Churches - Italy (Italy),Italy,Churches - Italy
9659,Churches - France (France),France,Churches - France
12576,Johns Hopkins University School of Medicine (...,United States,Johns Hopkins University School of Medicine
12779,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
...,...,...,...
195963,Aberdeen City Council Collection (United King...,United Kingdom,Aberdeen City Council Collection
196001,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
196078,Penrhyn Castle - National Trust (United Kingdom),United Kingdom,Penrhyn Castle - National Trust
196115,Grimsthorpe Castle (United Kingdom),United Kingdom,Grimsthorpe Castle
196118,Grimsthorpe Castle (United Kingdom),United Kingdom,Grimsthorpe Castle
196323,Boston Manor House (United Kingdom),United Kingdom,Boston Manor House
196776,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
197093,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
197560,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
198365,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
199875,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
200055,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
200146,10 Downing Street (United Kingdom),United Kingdom,10 Downing Street
200656,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
201618,"Glasgow University Library, Depatment of Speci...",United Kingdom,"Glasgow University Library, Depatment of Speci..."
201623,Goodwood House (United Kingdom),United Kingdom,Goodwood House
202256,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
202624,Yellowstone National Park (United States),United States,Yellowstone National Park
202627,Yellowstone National Park (United States),United States,Yellowstone National Park
202747,Destroyed in World War II (Germany),Germany,Destroyed in World War II
202798,Yellowstone National Park (United States),United States,Yellowstone National Park
203428,Essex County Council Collection (United Kingdom),United Kingdom,Essex County Council Collection
203495,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries
203497,Boston Manor House (United Kingdom),United Kingdom,Boston Manor House
204745,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
204841,Churches - Belgium (Belgium),Belgium,Churches - Belgium
204903,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
205544,Civic Collections - United Kingdom (United Ki...,United Kingdom,Civic Collections - United Kingdom
206043,Chartwell - National Trust (United Kingdom),United Kingdom,Chartwell - National Trust
206627,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,Brighton and Hove Museums & Art Galleries

In [50]:
len(mm.groups())

3

In [17]:
location_matcher.match('Art Institute of Chicago \xc2\xa0(United States - Chicago)')

In [13]:
paintings['city'] = matches.apply(lambda x: x.group(3) if x.group(3) is not None else None)

In [60]:
paintings.loc[matches.apply(lambda x: x.group(3) is None), ['painting_location', 'country', 'city']]

,painting_location,country,city
422,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
461,Churches - Italy (Italy),Italy,None
486,Milntown House (Isle of Man),Isle of Man,None
604,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,None
652,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
786,Hill of Tarvit - National Trust for Scotland ...,United Kingdom,None
991,National Trust - UK (United Kingdom),United Kingdom,None
994,National Trust - UK (United Kingdom),United Kingdom,None
995,Southwark Art Collection - London (United Kin...,United Kingdom,None
998,National Trust - UK (United Kingdom),United Kingdom,None
1116,Churches - Italy (Italy),Italy,None
2739,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,None
2750,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,None
3043,Churches - Italy (Italy),Italy,None
5877,Hartlepool Museums and Heritage Service (Unit...,United Kingdom,None
5890,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
7452,St Andrews Town Hall (United Kingdom),United Kingdom,None
7521,East Lothian Council (United Kingdom),United Kingdom,None
7951,National Trust - UK (United Kingdom),United Kingdom,None
7955,National Trust - UK (United Kingdom),United Kingdom,None
7956,National Trust - UK (United Kingdom),United Kingdom,None
8719,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
8720,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
8745,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
8901,Churches - Italy (Italy),Italy,None
9265,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
9641,Churches - Italy (Italy),Italy,None
9659,Churches - France (France),France,None
12576,Johns Hopkins University School of Medicine (...,United States,None
12779,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
...,...,...,...
195963,Aberdeen City Council Collection (United King...,United Kingdom,None
196001,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
196078,Penrhyn Castle - National Trust (United Kingdom),United Kingdom,None
196115,Grimsthorpe Castle (United Kingdom),United Kingdom,None
196118,Grimsthorpe Castle (United Kingdom),United Kingdom,None
196323,Boston Manor House (United Kingdom),United Kingdom,None
196776,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
197093,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
197560,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
198365,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
199875,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
200055,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
200146,10 Downing Street (United Kingdom),United Kingdom,None
200656,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
201618,"Glasgow University Library, Depatment of Speci...",United Kingdom,None
201623,Goodwood House (United Kingdom),United Kingdom,None
202256,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
202624,Yellowstone National Park (United States),United States,None
202627,Yellowstone National Park (United States),United States,None
202747,Destroyed in World War II (Germany),Germany,None
202798,Yellowstone National Park (United States),United States,None
203428,Essex County Council Collection (United Kingdom),United Kingdom,None
203495,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None
203497,Boston Manor House (United Kingdom),United Kingdom,None
204745,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
204841,Churches - Belgium (Belgium),Belgium,None
204903,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
205544,Civic Collections - United Kingdom (United Ki...,United Kingdom,None
206043,Chartwell - National Trust (United Kingdom),United Kingdom,None
206627,Brighton and Hove Museums & Art Galleries (Un...,United Kingdom,None

In [14]:
paintings['geo_str'] = paintings.apply(
    lambda row: row['country'] if row['city'] is None else row['city'] + ', ' + row['country'], axis = 1)

In [15]:
locations = paintings['geo_str'].unique()

In [20]:
locations = paintings['geo_str'].value_counts().reset_index()\
    .rename(columns = {'index': 'geo_str', 'geo_str': 'num_paintings'})

In [16]:
len(locations)

1989

In [21]:
locations.head()

                      geo_str  num_paintings
0      London, United Kingdom          12343
1               Paris, France           4242
2     New York, United States           2836
3  Moscow, Russian Federation           2731
4      Amsterdam, Netherlands           1980

In [62]:
geolocator = Nominatim()
def geolocate(x):
    if not x:
        return None
    try:
        location = geolocator.geocode(x)
        time.sleep(1)
        return location
    except:
        return None

In [85]:
geocodes = []
coded = 0
for location in locations:
    geocodes.append(geolocate(location))
    coded += 1
    sys.stdout.write('\r%d/%d' % (coded, len(locations)))
sys.stdout.write('\n')

1989/1989

In [95]:
geocodes

[Location((41.8755546, -87.6244211, 0.0)),
 Location((55.6867243, 12.5700724, 0.0)),
 Location((51.7520131, -1.2578498, 0.0)),
 Location((38.8949549, -77.0366455, 0.0)),
 Location((25.7742658, -80.1936588, 0.0)),
 Location((51.4613531, -0.3032766, 0.0)),
 Location((55.7506828, 37.6174976, 0.0)),
 Location((59.9387318, 30.3162286, 0.0)),
 Location((50.4501071, 30.5240501, 0.0)),
 Location((49.9902794, 36.2303893, 0.0)),
 Location((54.1930321, 37.61754, 0.0)),
 Location((43.21984255, 76.9183518875, 0.0)),
 Location((48.0158753, 37.8013407, 0.0)),
 Location((56.858675, 35.9208284, 0.0)),
 Location((55.1598408, 61.4025547, 0.0)),
 Location((54.66989795, 39.6882768283, 0.0)),
 Location((58.6035257, 49.6639029, 0.0)),
 Location((43.7698712, 11.2555757, 0.0)),
 Location((48.8566101, 2.3514992, 0.0)),
 Location((45.4667971, 9.1904984, 0.0)),
 Location((42.712207, -73.2035985, 0.0)),
 Location((42.3604823, -71.0595677, 0.0)),
 Location((55.9495628, -3.1914971, 0.0)),
 Location((52.5170365, 13.3888599, 0.0)),
 Location((45.4210328, -75.6900218, 0.0)),
 Location((43.9493143, 4.8060329, 0.0)),
 Location((51.5073219, -0.1276473, 0.0)),
 Location((41.9008795, 12.4509301, 0.0)),
 Location((41.9263991, 8.7376029, 0.0)),
 Location((41.85233365, 12.6308541512, 0.0)),
 Location((40.7305991, -73.9865811, 0.0)),
 Location((40.4167047, -3.7035824, 0.0)),
 Location((45.6945115, 9.669839, 0.0)),
 Location((50.0619474, 19.9368564, 0.0)),
 Location((52.2319237, 21.0067265, 0.0)),
 Location((52.4082663, 16.9335199, 0.0)),
 Location((40.4416941, -79.990086, 0.0)),
 Location((36.0183923, 139.281463788, 0.0)),
 Location((39.2908816, -76.6107589, 0.0)),
 Location((34.2255804, 139.294774527, 0.0)),
 Location((41.6786754, -83.5127282, 0.0)),
 Location((47.4250593, 9.3765878, 0.0)),
 Location((47.3685586, 8.5404434, 0.0)),
 Location((39.9523993, -75.1635898, 0.0)),
 Location((52.0799838, 4.3113461, 0.0)),
 Location((41.2939386, -82.2173785, 0.0)),
 Location((29.7589382, -95.3676973, 0.0)),
 Location((57.7072326, 11.9670171, 0.0)),
 Location((41.5051613, -81.6934445, 0.0)),
 Location((32.753177, -97.3327458, 0.0)),
 Location((37.7792808, -122.4192362, 0.0)),
 None,
 Location((39.9622601, -83.0007064, 0.0)),
 Location((43.255205, -79.8682019, 0.0)),
 Location((53.550341, 10.000654, 0.0)),
 Location((53.3497645, -6.2602731, 0.0)),
 Location((34.4221319, -119.7026672, 0.0)),
 Location((42.2964859, -71.292557, 0.0)),
 Location((59.9387318, 30.3162286, 0.0)),
 Location((37.3541132, -121.9551743, 0.0)),
 Location((40.8359336, 14.2487826, 0.0)),
 Location((52.0056642, 5.87623450776, 0.0)),
 Location((49.1939579, 2.4632567, 0.0)),
 Location((37.6922361, -97.3375447, 0.0)),
 Location((48.584614, 7.7507127, 0.0)),
 Location((36.0998131, -80.2440517, 0.0)),
 Location((-37.5622631, 143.8607215, 0.0)),
 Location((51.3391827, 12.3810549, 0.0)),
 Location((41.0997803, -80.6495193, 0.0)),
 Location((43.1009031, -75.232664, 0.0)),
 Location((38.6337716, -90.2416547, 0.0)),
 Location((-34.9274283, 138.599899, 0.0)),
 Location((52.2921548, -1.5356985, 0.0)),
 Location((50.1213173, -5.5329265, 0.0)),
 Location((44.380803, -73.2276539, 0.0)),
 Location((39.5162234, -76.9382068, 0.0)),
 Location((32.7174209, -117.1627713, 0.0)),
 None,
 Location((56.0873643, 63.6294827, 0.0)),
 None,
 Location((46.2017559, 6.1466014, 0.0)),
 Location((42.65717, -71.1408775, 0.0)),
 Location((53.3806626, -1.4702277, 0.0)),
 Location((54.7023545, -3.2765752, 0.0)),
 Location((54.6885213, -5.9043578, 0.0)),
 Location((52.3745403, 4.89797550562, 0.0)),
 Location((51.8931303, 0.9046293, 0.0)),
 Location((42.6384261, 12.674297, 0.0)),
 Location((43.2629489, -2.9349458, 0.0)),
 Location((54.77897005, 32.0471812192, 0.0)),
 Location((57.7679158, 40.9269141, 0.0)),
 Location((39.1014537, -84.5124601, 0.0)),
 Location((53.7974185, -1.543794, 0.0)),
 Location((37.3886303, -5.995317, 0.0)),
 Location((50.9025349, -1.4041889, 0.0)),
 Location((51.3813864, -2.3596962, 0.0)),
 Location((51.7026571, -3.032751, 0.0)),
 Location((54.2358167, -4.5145986457, 0.0)),
 Location((52.8063157, -2.1163817, 0.0)),
 Location((38.8949549, -77.0366455, 0.0)),
 Location((48.1371079, 11.5753822, 0.0)),
 Location((34.1476452, -118.1444778, 0.0)),
 Location((48.2083537, 16.3725042, 0.0)),
 Location((50.0619474, 19.9368564, 0.0)),
 Location((52.2639962, 10.5252669, 0.0)),
 Location((45.4371908, 12.3345899, 0.0)),
 Location((56.4593653, -2.9735212, 0.0)),
 Location((50.8286917, -0.1745743, 0.0)),
 Location((46.1841146, 8.8453084, 0.0)),
 Location((37.7792808, -122.4192362, 0.0)),
 Location((40.7305991, -73.9865811, 0.0)),
 Location((48.1113387, -1.6800197, 0.0)),
 Location((57.1452452, -2.0913744, 0.0)),
 Location((44.9772995, -93.2654691, 0.0)),
 Location((40.7305991, -73.9865811, 0.0)),
 Location((37.016827, -76.4505195, 0.0)),
 Location((37.2707028, -76.7074501, 0.0)),
 Location((52.3744779, 9.7385532, 0.0)),
 Location((46.1554222, 8.7707865, 0.0)),
 Location((50.74467035, -1.85798080318, 0.0)),
 Location((52.2033051, 0.124862, 0.0)),
 Location((51.5488859, -0.110098421792, 0.0)),
 Location((48.4680221, 35.0417711, 0.0)),
 Location((47.5581077, 7.5878261, 0.0)),
 Location((40.7305991, -73.9865811, 0.0)),
 Location((42.3486635, -83.0567374, 0.0)),
 Location((55.856656, -4.2435816, 0.0)),
 Location((53.0162014, -2.1812606, 0.0)),
 Location((41.3082138, -72.9250517, 0.0)),
 Location((51.92779805, 4.48862326926, 0.0)),
 Location((51.0538286, 3.7250121, 0.0)),
 Location((51.0493286, 13.7381437, 0.0)),
 Location((53.4791301, -2.2441008, 0.0)),
 Location((51.457087, 7.011429, 0.0)),
 Location((45.182151, 5.7274722, 0.0)),
 None,
 None,
 Location((51.3344829, 1.4227153, 0.0)),
 Location((54.0484068, -2.7990344, 0.0)),
 Location((53.7589938, -2.7051617, 0.0)),
 Location((53.5415797, -2.114783, 0.0)),
 Location((52.9212617, -1.476149, 0.0)),
 Location((54.8948478, -2.936231, 0.0)),
 Location((53.7435722, -0.3394757, 0.0)),
 Location((52.5847651, -2.1275669, 0.0)),
 Location((51.7490624, -3.3786182, 0.0)),
 Location((53.7941567, -1.7494777, 0.0)),
 Location((54.5969869, -5.9300991, 0.0)),
 Location((52.2385239, -0.9024929, 0.0)),
 Location((59.9132694, 10.7391112, 0.0)),
 Location((60.3943532, 5.325551, 0.0)),
 Location((34.054935, -118.2444759, 0.0)),
 Location((44.0175835, 1.3549991, 0.0)),
 Location((-37.8142175, 144.9631608, 0.0)),
 Location((43.6044622, 1.4442469, 0.0)),
 Location((55.8481954, -4.4249328, 0.0)),
 Location((36.8889933, -76.2481623, 0.0)),
 Location((56.4593653, -2.9735212, 0.0)),
 None,
 Location((38.7077926, -9.136506, 0.0)),
 Location((49.51271975, -1.57550423915, 0.0)),
 Location((52.4776875, -1.8948515, 0.0)),
 Location((43.6112422, 3.8767337, 0.0)),
 Location((47.3900474, 0.6889268, 0.0)),
 Location((34.054935, -118.2444759, 0.0)),
 Location((51.4272925, 6.8829192, 0.0)),
 Location((50.735851, 7.10066, 0.0)),
 Location((48.1983738, 16.366388, 0.0)),
 Location((35.1490215, -90.0516284, 0.0)),
 Location((59.3251172, 18.0710935, 0.0)),
 Location((59.5682821, 17.5294675, 0.0)),
 Location((51.453493, -2.5973936, 0.0)),
 Location((29.0195145, -81.2941416254, 0.0)),
 Location((53.3078742, -2.3720506, 0.0)),
 Location((-36.8534664, 174.7655514, 0.0)),
 Location((54.5443517, -1.9238694, 0.0)),
 Location((44.4936714, 11.3430347, 0.0)),
 Location((51.6211442, -3.946775, 0.0)),
 Location((50.7995189, -1.9873389, 0.0)),
 Location((39.7683331, -86.1583501, 0.0)),
 Location((49.4404591, 1.0939658, 0.0)),
 Location((44.6458885, 10.9255707, 0.0)),
 Location((52.2460367, 0.7125173, 0.0)),
 Location((43.9143583, 42.7237033, 0.0)),
 Location((49.5897423, 34.5507948, 0.0)),
 Location((54.5101087, 36.2598115, 0.0)),
 Location((40.3754289, 49.8328549, 0.0)),
 Location((49.841952, 24.0315921, 0.0)),
 Location((45.4972159, -73.6103641, 0.0)),
 Location((41.1257843, 16.8620293, 0.0)),
 Location((52.4009309, 13.0591397, 0.0)),
 None,
 Location((43.2130358, 2.3491069, 0.0)),
 Location((49.453872, 11.077298, 0.0)),
 Location((56.3956402, -3.4345333, 0.0)),
 Location((56.3333331, -3.0, 0.0)),
 Location((55.6101306, -4.4985358, 0.0)),
 Location((55.3535872, -4.6843309, 0.0)),
 Location((53.9590555, -1.081536, 0.0)),
 Location((53.4054719, -2.9805391, 0.0)),
 Location((53.6988806, -1.6416264229, 0.0)),
 Location((53.6475988, -3.004175, 0.0)),
 Location((-35.2975905, 149.1012676, 0.0)),
 Location((50.938361, 6.959974, 0.0)),
 Location((51.7689546, 4.68678905674, 0.0)),
 Location((53.5227681, -1.1335311, 0.0)),
 Location((51.8023297, -4.9651073, 0.0)),
 Location((51.4816546, -3.1791933, 0.0)),
 Location((47.7981346, 13.0464806, 0.0)),
 Location((51.9599665, -1.6409203, 0.0)),
 Location((52.5738875, -0.24167, 0.0)),
 Location((50.8741265, 0.0121129, 0.0)),
 Location((53.6153659, -2.155756, 0.0)),
 None,
 Location((48.5824932, -3.8331971, 0.0)),
 Location((52.4143113, -4.0816845, 0.0)),
 Location((51.1283378, -3.0037045, 0.0)),
 Location((53.5527719, -1.4827754, 0.0)),
 Location((54.9913752, 73.3714883, 0.0)),
 Location((51.3090209, 9.4762981, 0.0)),
 Location((46.4846583, 30.732564, 0.0)),
 Location((49.4093582, 8.694724, 0.0)),
 Location((41.2587317, -95.9378731, 0.0)),
 Location((49.4938975, 0.1079732, 0.0)),
 Location((49.4197222, 0.2338889, 0.0)),
 Location((47.6038321, -122.3300623, 0.0)),
 Location((27.3364347, -82.5306526, 0.0)),
 Location((39.9523993, -75.1635898, 0.0)),
 Location((56.3285709, 44.003504, 0.0)),
 Location((48.0710377, -0.7723498, 0.0)),
 Location((46.9782791, 36.78080592, 0.0)),
 Location((48.2549383, 11.5546058, 0.0)),
 Location((51.2254018, 6.7763137, 0.0)),
 Location((49.489591, 8.467236, 0.0)),
 Location((51.8357478, 107.583657, 0.0)),
 Location((61.7900373, 34.3900084, 0.0)),
 Location((61.7411382, 50.7258324314, 0.0)),
 Location((56.4887123, 84.9523238, 0.0)),
 Location((64.5430227, 40.5371212, 0.0)),
 Location((59.1286965, 37.9163892, 0.0)),
 Location((46.9895828, 6.9292641, 0.0)),
 Location((48.4312059, 0.0911374, 0.0)),
 Location((49.9246182, 1.0791444, 0.0)),
 Location((50.8553888, 0.5824703, 0.0)),
 Location((53.8425488, -0.4315676, 0.0)),
 Location((54.9770924, -1.6142058, 0.0)),
 Location((51.2748258, 0.5231646, 0.0)),
 Location((50.9511871, 0.7327667, 0.0)),
 Location((42.2625932, -71.8022933, 0.0)),
 Location((29.2108147, -81.022833, 0.0)),
 Location((42.3803676, -72.5231429, 0.0)),
 Location((50.7259985, 1.6118771, 0.0)),
 Location((50.6305089, 3.0706414, 0.0)),
 Location((49.1157004, -1.0906636, 0.0)),
 Location((49.2764624, -0.7024737, 0.0)),
 Location((43.074761, -89.3837612, 0.0)),
 Location((49.1828008, -0.3690814, 0.0)),
 Location((46.5218269, 6.6327025, 0.0)),
 Location((32.7762719, -96.7968558, 0.0)),
 Location((47.4983815, 19.0404707, 0.0)),
 Location((49.3816667, 3.3236111, 0.0)),
 Location((29.4246002, -98.4951404, 0.0)),
 Location((42.3190227, -72.6306343, 0.0)),
 Location((53.577694, -2.4288873, 0.0)),
 Location((51.4312585, -0.5473084, 0.0)),
 Location((54.5352721, -1.55332700062, 0.0)),
 Location((52.38370575, 4.64355969656, 0.0)),
 Location((53.3553842, -2.9971675, 0.0)),
 Location((50.446247, -3.53949971419, 0.0)),
 Location((55.6074722, -1.7141345, 0.0)),
 Location((52.0367323, 1.168934, 0.0)),
 Location((54.9987414, -1.4321847, 0.0)),
 Location((53.5677371, -0.0736288, 0.0)),
 Location((51.7905964, -0.8929425, 0.0)),
 Location((46.9482713, 7.4514512, 0.0)),
 Location((47.4991723, 8.7291498, 0.0)),
 Location((47.3927146, 8.0444448, 0.0)),
 None,
 None,
 Location((56.7124645, -2.4676098, 0.0)),
 None,
 Location((51.0612766, -1.3131691, 0.0)),
 Location((-22.883237, -43.1154551, 0.0)),
 Location((-23.5506506, -46.6333823, 0.0)),
 Location((-22.9110136, -43.2093726, 0.0)),
 Location((47.237953, 6.0243246, 0.0)),
 Location((47.2186371, -1.5541361, 0.0)),
 Location((52.08095165, 5.1276803155, 0.0)),
 Location((56.1496278, 10.2134046, 0.0)),
 Location((55.3284036, 8.7647838, 0.0)),
 Location((55.6052931, 13.0001566, 0.0)),
 Location((49.4179497, 2.8263171, 0.0)),
 Location((52.9656832, -1.5019748, 0.0)),
 Location((51.2151749, -0.7984853, 0.0)),
 Location((43.979475, -71.1206819, 0.0)),
 Location((57.5928032, -3.7108262, 0.0)),
 Location((51.8995685, -2.0711558, 0.0)),
 None,
 Location((51.5413271, 0.1481142, 0.0)),
 Location((43.182806, 3.0043128, 0.0)),
 Location((40.794026, -77.8606974, 0.0)),
 Location((32.3669656, -86.3006484, 0.0)),
 Location((54.3448538, -7.6389364, 0.0)),
 None,
 Location((35.08992, 139.059891, 0.0)),
 Location((34.584474, 133.774635, 0.0)),
 Location((33.7490987, -84.3901848, 0.0)),
 Location((52.9534161, -1.1492772, 0.0)),
 Location((52.5011493, -6.5674943, 0.0)),
 Location((51.2719654, 0.1914386, 0.0)),
 Location((52.2082377, -1.6143891, 0.0)),
 Location((51.5411081, -1.85882369435, 0.0)),
 Location((-33.8548156, 151.2164539, 0.0)),
 Location((51.2211097, 4.3997081, 0.0)),
 Location((60.1674086, 24.9425683, 0.0)),
 Location((47.068454, 15.4376258294, 0.0)),
 Location((50.8465565, 4.351697, 0.0)),
 Location((52.0601807, -1.3402794, 0.0)),
 Location((52.0280674, 8.9012894, 0.0)),
 None,
 Location((50.110653, 8.682093, 0.0)),
 Location((37.40088, -79.1844922946, 0.0)),
 Location((33.2668398, -87.4862181, 0.0)),
 Location((37.8044557, -122.2713562, 0.0)),
 Location((39.7391536, -104.9847033, 0.0)),
 Location((53.8245483, -3.03731989502, 0.0)),
 Location((50.7733195, 0.259146559219, 0.0)),
 Location((57.6263877, 39.8933705, 0.0)),
 Location((56.1288899, 40.4075203, 0.0)),
 Location((55.76041925, 49.1902944738, 0.0)),
 Location((53.1986275, 50.113988, 0.0)),
 Location((57.905149, 59.9508466, 0.0)),
 Location((46.3498548, 48.0315682, 0.0)),
 Location((54.9155247, 37.4195533, 0.0)),
 Location((54.3107593, 48.3642771, 0.0)),
 Location((43.8553412, -74.443493, 0.0)),
 Location((-31.952712, 115.8604796, 0.0)),
 Location((50.8220399, -0.137406, 0.0)),
 Location((42.096968, -75.9143409, 0.0)),
 None,
 None,
 Location((51.3750889, -0.2199492, 0.0)),
 Location((53.14642505, -3.75913454222, 0.0)),
 Location((53.5964097, -2.2904085, 0.0)),
 Location((51.9172564, -0.6583481, 0.0)),
 Location((53.6288297, 11.4148038, 0.0)),
 Location((59.4372155, 24.7453688, 0.0)),
 Location((35.7803977, -78.6390988, 0.0)),
 Location((45.7973912, 24.1519202, 0.0)),
 Location((49.8941708, 2.2956951, 0.0)),
 Location((49.0140679, 8.4044366, 0.0)),
 Location((50.3703683, 3.0761377, 0.0)),
 Location((47.4739884, -0.5515587, 0.0)),
 Location((44.841225, -0.5800363, 0.0)),
 None,
 Location((52.22336325, 6.8705956641, 0.0)),
 Location((48.1371079, 11.5753822, 0.0)),
 Location((39.9523993, -75.1635898, 0.0)),
 Location((53.7980615, -2.3107383, 0.0)),
 Location((43.6529206, -79.3849007, 0.0)),
 Location((60.4517531, 22.2670522, 0.0)),
 Location((41.7645491, -72.6908672, 0.0)),
 Location((50.0874654, 14.4212503, 0.0)),
 Location((61.4980214, 23.7603118, 0.0)),
 Location((39.0844687, -94.5630297, 0.0)),
 Location((43.8374249, 4.3600687, 0.0)),
 Location((48.7784485, 9.1800132, 0.0)),
 Location((-26.2049999, 28.049722, 0.0)),
 Location((31.78911765, 35.2229730135, 0.0)),
 Location((52.07695895, 5.79304570049, 0.0)),
 Location((38.2542376, -85.7594069, 0.0)),
 Location((45.7578137, 4.8320114, 0.0)),
 Location((44.8178787, 20.4568089, 0.0)),
 Location((45.5202471, -122.6741948, 0.0)),
 Location((47.4736827, 8.3086822, 0.0)),
 Location((52.0579495, 1.1526345, 0.0)),
 Location((51.264018, 7.1780374, 0.0)),
 Location((53.0758196, 8.8071646, 0.0)),
 Location((42.1014831, -72.5898109, 0.0)),
 Location((42.8867166, -78.8783921, 0.0)),
 Location((21.304547, -157.8556763, 0.0)),
 Location((45.03946475, 33.9700025139, 0.0)),
 None,
 Location((38.8949549, -77.0366455, 0.0)),
 Location((40.1164205, -88.2433828, 0.0)),
 Location((59.2188765, 39.8932762, 0.0)),
 Location((49.2577886, 4.031926, 0.0)),
 Location((44.6054434, 33.5220842, 0.0)),
 Location((-30.41250485, 151.94013984, 0.0)),
 Location((34.3916058, 132.4518156, 0.0)),
 Location((46.8257374, -71.2349113, 0.0)),
 Location((33.6856969, -117.8259818, 0.0)),
 Location((33.7288179, -116.382571, 0.0)),
 Location((53.4840214, -2.0562535, 0.0)),
 Location((52.6367811, -1.1312288, 0.0)),
 Location((52.4081812, -1.5104769, 0.0)),
 Location((53.407901, -2.1602429, 0.0)),
 Location((49.1856637, -2.1102276, 0.0)),
 Location((51.4580216, -0.9673726, 0.0)),
 Location((53.35826, -2.0359286, 0.0)),
 Location((53.4877463, -2.289192, 0.0)),
 Location((56.9984452, 40.9737394, 0.0)),
 Location((53.902334, 27.5618791, 0.0)),
 Location((50.8117327, 8.7757742, 0.0)),
 Location((51.8926561, 11.0554519, 0.0)),
 Location((50.1780857, 9.0433074, 0.0)),
 Location((42.058436, -70.1786374, 0.0)),
 Location((42.9956397, -71.454789, 0.0)),
 Location((32.7876012, -79.9402727, 0.0)),
 Location((45.9646491, -66.6437528, 0.0)),
 None,
 Location((51.7687323, 19.4569911, 0.0)),
 Location((41.7198216, -72.8320434, 0.0)),
 Location((47.3215806, 5.0414701, 0.0)),
 Location((32.0804808, 34.7805274, 0.0)),
 Location((34.8566552, 138.4855544, 0.0)),
 Location((26.7153425, -80.0533745, 0.0)),
 Location((43.6610277, -70.2548595, 0.0)),
 Location((37.645058, 138.7674345, 0.0)),
 Location((37.5385087, -77.4342799, 0.0)),
 Location((33.4485866, -112.0773455, 0.0)),
 Location((29.9499323, -90.0701155, 0.0)),
 Location((40.3492744, -74.6592957, 0.0)),
 Location((47.9960901, 7.8494005, 0.0)),
 Location((51.3331205, 6.5623343, 0.0)),
 Location((41.68174355, -72.7881464301, 0.0)),
 Location((43.0171773, -83.7236023, 0.0)),
 None,
 Location((39.2908816, -76.6107589, 0.0)),
 None,
 Location((50.4238296, 7.5732901, 0.0)),
 None,
 Location((43.157285, -77.6152139, 0.0)),
 Location((41.5910641, -93.6037148, 0.0)),
 Location((28.9713742, -82.4887545, 0.0)),
 Location((40.735657, -74.1723666, 0.0)),
 Location((41.6833813, -86.2500065, 0.0)),
 None,
 Location((55.7192073, -2.747782, 0.0)),
 Location((51.4819441, -2.3799691, 0.0)),
 Location((45.4401467, 4.3873058, 0.0)),
 Location((34.1215947, -118.1057393, 0.0)),
 Location((39.7589478, -84.1916068, 0.0)),
 Location((38.4746705, 140.083237, 0.0)),
 Location((49.0917814, 1.4886571, 0.0)),
 None,
 Location((48.0777517, 7.3579641, 0.0)),
 Location((55.6517553, -3.1885455, 0.0)),
 Location((55.7743076, -2.0106646, 0.0)),
 Location((47.9960325, -4.1024781, 0.0)),
 None,
 Location((47.9990047, 2.7364119, 0.0)),
 Location((42.4500967, -73.2453784, 0.0)),
 Location((51.90458225, 1.18990969188, 0.0)),
 Location((47.0617293, -0.8801348, 0.0)),
 Location((56.1181242, -3.9360011, 0.0)),
 Location((43.4933379, -1.4750989, 0.0)),
 Location((38.9786401, -76.4927859, 0.0)),
 Location((39.745947, -75.5465889, 0.0)),
 Location((33.5206824, -86.8024325, 0.0)),
 Location((43.2961743, 5.3699525, 0.0)),
 Location((38.0906911, -0.9466129, 0.0)),
 Location((39.4699014, -0.3759512, 0.0)),
 Location((47.9027336, 1.9086066, 0.0)),
 Location((41.3825596, 2.1771353, 0.0)),
 Location((43.2957547, -0.3685667, 0.0)),
 Location((48.4470039, 1.4866387, 0.0)),
 Location((50.60566, 3.3878259, 0.0)),
 Location((44.4361414, 26.1027202, 0.0)),
 Location((41.6362152, -70.9342049, 0.0)),
 Location((50.74018055, -1.95377373524, 0.0)),
 Location((53.7907262, -2.2439195, 0.0)),
 Location((50.3594889, 3.5266657, 0.0)),
 Location((50.3712659, -4.1425657, 0.0)),
 Location((18.011564, -66.6139579, 0.0)),
 Location((48.2971626, 4.0746257, 0.0)),
 Location((43.2727191, 6.6405225, 0.0)),
 Location((50.7256471, -3.526661, 0.0)),
 Location((50.5462698, -3.4959272, 0.0)),
 Location((51.54063195, 0.716114672519, 0.0)),
 Location((50.2627515, -5.0520466, 0.0)),
 Location((50.8036831, -1.0756139, 0.0)),
 Location((50.7576505, -1.30356941061, 0.0)),
 Location((49.8158683, 6.1296751, 0.0)),
 Location((52.1363806, -0.467504, 0.0)),
 Location((51.2082905, 3.2261497, 0.0)),
 Location((42.1014831, -72.5898109, 0.0)),
 None,
 Location((47.2081355, 7.5384045, 0.0)),
 Location((43.0711952, 12.6146669, 0.0)),
 Location((41.9008795, 12.4509301, 0.0)),
 Location((45.4077172, 11.8734455, 0.0)),
 Location((32.753177, -97.3327458, 0.0)),
 Location((36.3728538, -94.2088171, 0.0)),
 None,
 Location((53.6825669, -1.5000465, 0.0)),

In [93]:
locations_df = pd.DataFrame({'location_str' : locations, 'geolocation': geocodes})

In [98]:
locations_df['geolocation'][19].latitude

45.4667971

In [104]:
locations_df

,geolocation,location_str,latitude,longitude
0,"(Chicago, Cook County, Illinois, United States...","Chicago, United States",41.8756,-87.6244
1,"(København, Københavns Kommune, Region Hovedst...","Copenhagen, Denmark",55.6867,12.5701
2,"(Oxford, Oxon, South East, England, UK, (51.75...","Oxford, United Kingdom",51.752,-1.25785
3,"(Washington, District of Columbia, United Stat...","Washington, United States",38.895,-77.0366
4,"(Miami, Miami-Dade County, Florida, United Sta...","Miami, Florida, United States",25.7743,-80.1937
5,"(Richmond, London, Greater London, England, UK...","Richmond, United Kingdom",51.4614,-0.303277
6,"(Москва, Центральный административный округ, М...","Moscow, Russian Federation",55.7507,37.6175
7,"(Санкт-Петербург, Центральный район, Санкт-Пет...","St Petersburg, Russian Federation",59.9387,30.3162
8,"(Київ, Шевченківський район, Київ, 01000-06999...","Kiev, Ukraine",50.4501,30.5241
9,"(Харків, Шевченківський район, Харківська місь...","Kharkov, Ukraine",49.9903,36.2304
10,"(Тула, городской округ Тула, Тульская область,...","Tula, Russian Federation",54.193,37.6175
11,"(Алматы, Қазақстан, (43.21984255, 76.9183518875))","Almaty, Kazakhstan",43.2198,76.9184
12,"(Донецьк, Ворошиловський район, Донецька міськ...","Donetsk, Ukraine",48.0159,37.8013
13,"(Тверь, городской округ Тверь, Тверская област...","Tver, Russian Federation",56.8587,35.9208
14,"(Челябинск, Челябинский городской округ, Челяб...","Chelyabinsk, Russian Federation",55.1598,61.4026
15,"(Рязань, улица Чапаева, Канищево, Московский р...","Ryazan, Russian Federation",54.6699,39.6883
16,"(Киров, городской округ Киров, Кировская облас...","Kirov, Russian Federation",58.6035,49.6639
17,"(Firenze, FI, TOS, Italia, (43.7698712, 11.255...","Florence, Italy",43.7699,11.2556
18,"(Paris, Île-de-France, France, (48.8566101, 2....","Paris, France",48.8566,2.3515
19,"(Milano, MI, LOM, Italia, (45.4667971, 9.19049...","Milan, Italy",45.4668,9.1905
20,"(Williamstown, Berkshire County, Massachusetts...","Williamstown, MA, United States",42.7122,-73.2036
21,"(Boston, Suffolk County, Massachusetts, United...","Boston, United States",42.3605,-71.0596
22,"(Edinburgh, City of Edinburgh, Scotland, UK, (...","Edinburgh, United Kingdom",55.9496,-3.1915
23,"(Berlin, Deutschland, (52.5170365, 13.3888599))","Berlin, Germany",52.517,13.3889
24,"(Ottawa, Ontario, Canada, (45.4210328, -75.690...","Ottawa, Canada",45.421,-75.69
25,"(Avignon, Vaucluse, Provence-Alpes-Côte d'Azur...","Avignon, France",43.9493,4.80603
26,"(London, Greater London, England, UK, (51.5073...","London, United Kingdom",51.5073,-0.127647
27,"(Città del Vaticano, Piazza della Stazione Fer...","Città del Vaticano, Vatican City State)",41.9009,12.4509
28,"(Ajaccio, Corse-du-Sud, Corse, 20000;20090, Fr...","Ajaccio, France",41.9264,8.7376
29,"(RM, LAZ, Italia, (41.85233365, 12.6308541512))","Rome, Italy",41.8523,12.6309
...,...,...,...,...
1959,"(Lubbock, Lubbock County, Texas, United States...","Lubbock, Texas, United States",33.5779,-101.855
1960,"(Cazenovia, Town of Cazenovia, Madison County,...","Cazenovia, New York, United States",42.9301,-75.8527
1961,"(Ondarroa, Lea-Artibai, Bizkaia, Euskadi, Espa...","Ondarroa, Spain",43.3207,-2.42075
1962,"(Abbeville, Somme, Hauts-de-France, 80100, Fra...","Abbeville, France",50.1061,1.8337
1963,"(Schaffhausen, Schweiz, Suisse, Svizzera, Sviz...","Schaffhausen, Switzerland",47.696,8.63451
1964,"(Mallorca, Sineu, Pla de Mallorca, Illes Balea...","Mallorca, Spain",39.6594,2.98624
1965,"(Grantown on Spey, Highland, Scotland, UK, (57...","Grantown-on-Spey, United Kingdom",57.3295,-3.6104
1966,"(Sandbank, Argyll and Bute, Scotland, UK, (55....","Sandbank, United Kingdom",55.9812,-4.94813
1967,"(Roanne, Loire, Auvergne-Rhône-Alpes, 42300, F...","roanne, France",46.0364,4.07387
1968,"(Lindsborg, McPherson County, Kansas, United S...","Lindsborg, Kansas, United States",38.5736,-97.6745
1969,"(Künzelsau, Verwaltungsgemeinschaft Künzelsau,...","Künzelsau, Germany",49.2804,9.69015
1970,"(La Réunion, France, (-21.1309331, 55.5265771))","Réunion, France",-21.1309,55.5266
1971,"(Zwickau, Landkreis Zwickau, Sachsen, Deutschl...","Zwickau, Germany",50.7185,12.4939
1972,"(Kroměříž, okres Kroměříž, Zlínský kraj, Střed...","Kroměříž, Czech Republic",49.2984,17.393
1973,"(Orono, Penobscot County, Maine, United States...","Orono, Maine, United States",44.8836,-68.6728
1974,"(Minneapolis, Hennepin County, Minnesota, Unit...","Minneapolis, MN, United States",44.9773,-93.2655
1975,"(Lons-le-Saunier, Jura, Bourgogne-Franche-Comt...","Lons le Saunier, France",46.6739,5.55862
1976,"(Salins-les-Bains, Lons-le-Saunier, Jura, Bour...","Salins-les-Bains, France",46.9405,5.87863
1977,"(Glarus, 8450, Schweiz, Suisse, Svizzera, Sviz...","Glarus, Switzerland",47.0422,9.0674
1978,"(Pullman, Whitman County, Washington, United S...","Pullman, Washington, United States",46.7304,-117.174
1979,"(Chiari, BS, LOM, Italia, (45.5364624, 9.928846))","Chiari, Italy",45.5365,9.92885
1980,None,"Ariccia, Greater Rome, Italy",None,None
1981,"(Pannonhalma, Pannonhalmi járás, Győr-Moson-So...","Pannonhalma, Hungary",47.5502,17.7542
1982,"(Mechelen, Antwerpen, Vlaanderen, België - Bel...","Mechelen, Belgium",51.0281,4.48035
1983,"(Compton, West Berkshire, South East, England,...","Compton, United Kingdom",51.5156,-1.2452
1984,"(Figueres, Alt Empordà, Girona, CAT, España, (...","Figueres, Spain",42.2666,2.96384
1985,"(A Coruña, Galicia, España, (43.1538815, -8.58...","Coruna, Spain",43.1539,-8.58094
1986,"(Las Palmas de Gran Canaria, Las Palmas, Canar...","Las Palmas de Gran Canaria, Spain",28.1288,-15.4351
1987,"(Latisana, UD, FVG, Italia, (45.7784884, 12.99...","Latisana, Italy",45.7785,12.9962
1988,"(Verbania-Pallanza, Piazza stazione, Verbania,...","Verbania Pallanza, Italy",45.9438,8.47228

In [103]:
locations_df['latitude'] = locations_df['geolocation'].apply(lambda x: x.latitude if x is not None else None, 0)
locations_df['longitude'] = locations_df['geolocation'].apply(lambda x: x.longitude if x is not None else None, 0)

In [106]:
locations_df.drop('geolocation', axis = 1).to_csv('data/geolocation_map.csv', index=False)

In [51]:
locations_df = pd.read_csv('data/geolocation_map.csv')

In [28]:
locations_df.head()

                    location_str   latitude  longitude
0         Chicago, United States  41.875555 -87.624421
1            Copenhagen, Denmark  55.686724  12.570072
2         Oxford, United Kingdom  51.752013  -1.257850
3      Washington, United States  38.894955 -77.036645
4  Miami, Florida, United States  25.774266 -80.193659

In [61]:
location_mapper = {
    'Versailles, Greater Paris, France': 'Versailles, France',
    'Cambridge, Greater Boston, Massachusetts, United States': 'Cambridge, Massachusetts, United States',
    'Saratov Region, Russian Federation': 'Saratov, Russian Federation',
    'Gateshead, Greater Newcastle, United Kingdom': 'Gateshead, United Kingdom',
    'Lode, Greater Cambridge, United Kingdom': 'Lode, United Kingdom',
    'Greenock, Inverclyde Council, United Kingdom': 'Greenock, United Kingdom',
    'Sunderland, Greater Newcastle, United Kingdom': 'Sunderland, United Kingdom',
    'Near Derby, United Kingdom': 'Derby, United Kingdom',
    'Polenovo, Tula Region, Russian Federation': 'Tula, Russian Federation',
    'Milwaukee, WS, United States': 'Milwaukee, Wisconsin, United States',
    'Feodosia, Russian Federation': 'Feodosia, Ukraine',
    'Newtownards, Greater Belfast, United Kingdom': 'Newtownards, Belfast, United Kingdom',
    'Walsall, Greater Birmingham, United Kingdom': 'Walsall, United Kingdom',
    'Richmond-upon-Thames - Greater London, United Kingdom': 'Richmond-upon-Thames, United Kingdom',
    'Copenehagen, Denmark': 'Copenhagen, Denmark',
    'Kleinburg, Ontatio, Canada': 'Kleinburg, Ontario, Canada',
    'Ithica, New York, United States': 'Ithaca, New York, United States',
    'Rotherham, Greater Sheffield, United Kingdom': 'Rotherham, United Kingdom',
    'Great Bookham, Dorking, United Kingdom': 'Dorking, United Kingdom',
    'Ples, Russian Federation': 'Plyos, Russian Federation',
    'Accrington, Greater Blackburn, United Kingdom': 'Accrington, United Kingdom',
    'Duluth, Minnesotta, United States': 'Duluth, Minnesota, United States'
}

In [63]:
for key in location_mapper:
    location_mapper[key] = geolocate(location_mapper[key])

In [65]:
locations_df['latitude'] = locations_df.apply(
    lambda row: location_mapper[row['location_str']].latitude
        if row['location_str'] in location_mapper else row['latitude'], axis = 1)
locations_df['longitude'] = locations_df.apply(
    lambda row: location_mapper[row['location_str']].longitude
        if row['location_str'] in location_mapper else row['longitude'], axis = 1)

In [52]:
locations_df.shape

(1989, 4)

In [30]:
locations_df = locations_df.merge(locations, how = 'inner', left_on='location_str', right_on='geo_str')\
    .drop('geo_str', axis = 1)

In [53]:
locations_df.head()

                    location_str   latitude  longitude  num_paintings
0         Chicago, United States  41.875555 -87.624421            902
1            Copenhagen, Denmark  55.686724  12.570072            716
2         Oxford, United Kingdom  51.752013  -1.257850           1286
3      Washington, United States  38.894955 -77.036645           1481
4  Miami, Florida, United States  25.774266 -80.193659              9

In [67]:
locations_df['lat_rd'] = np.round(locations_df['latitude'], 2)
locations_df['lon_rd'] = np.round(locations_df['longitude'], 2)

In [68]:
locations_df['num_paintings_total'] = locations_df.groupby(['lat_rd', 'lon_rd'])['num_paintings'].transform(np.sum)

In [69]:
locations_na = locations_df[locations_df['lat_rd'].isnull()]
locations_df = locations_df.dropna(subset = ['lat_rd', 'lon_rd'])\
    .sort_values('num_paintings', ascending=False).drop_duplicates(['lat_rd', 'lon_rd'])\
    .append(locations_na)

In [72]:
not_na_mask = ~locations_df['lat_rd'].isnull()
locations_df.loc[not_na_mask, 'num_paintings'] = locations_df.loc[not_na_mask, 'num_paintings_total'].astype(np.int)
locations_df = locations_df.drop(['lat_rd', 'lon_rd', 'num_paintings_total'], axis = 1)

In [75]:
locations_df[locations_df['latitude'].isnull()].sort_values('num_paintings', ascending = False)

,location_str,latitude,longitude,num_paintings
885,"Wednesbury, Greater Birmingham, United Kingdom",NaN,NaN,24
533,"Saint-Germain-en-Laye, Greater Paris, France",NaN,NaN,24
815,"Darmstadt, Greater Frankfurt, Germany",NaN,NaN,22
213,"Lucerne, Switzerland",NaN,NaN,22
339,"Tyntesfield, Greater Bristol, United Kingdom",NaN,NaN,21
319,"Nivå, Greater Copenhagen, Denmark",NaN,NaN,20
1039,"Wiesbaden, Greater Frankfurt, Germany",NaN,NaN,18
1778,"Stony Brook, Long Island, New York, United States",NaN,NaN,18
725,"Rostov Veliky, Russian Federation",NaN,NaN,17
828,"Taipei, Taiwan, Province of China",NaN,NaN,17
280,"Milngavie, Greater Glasgow, United Kingdom",NaN,NaN,17
297,"Wallington, Northumbria, United Kingdom",NaN,NaN,17
1020,"Minneapolis, Minnesotta, United States",NaN,NaN,16
621,"Saint Helens, Greater Liverpool, United Kingdom",NaN,NaN,15
1546,"Duffryn, Greater Newport, United Kingdom",NaN,NaN,15
844,"San Lorenco de El Escorial, Spain",NaN,NaN,13
1054,"Petergof, Greater Saint Petersburg, Russian Fe...",NaN,NaN,13
1197,"Girton, Greater Cambridge, United Kingdom",NaN,NaN,12
914,"Stockton, Caifornia, United States",NaN,NaN,12
1788,"Toronto, Ontatio, Canada",NaN,NaN,11
1001,"Ludwigshafen, Greater Mannheim, Germany",NaN,NaN,9
1058,"Villeneuve d'Ascq, Greater Lille, France",NaN,NaN,9
303,"Neuss, Greater Dusseldorf, Germany",NaN,NaN,9
927,"Salt Lake City, Utan, United States",NaN,NaN,8
1145,"Musselburgh, Greater Edinburgh, United Kingdom",NaN,NaN,8
1816,"Castlemain, Victoria, Australia",NaN,NaN,8
1460,"Mainz, Greater Frankfurt, Germany",NaN,NaN,8
1618,"Baton Route, Louisnaia, United States",NaN,NaN,8
949,"Meaux, Greater Paris, France",NaN,NaN,8
577,"Bergues, Greater Dunkerque, France",NaN,NaN,8
...,...,...,...,...
1393,"Meudon, Greater Paris, France",NaN,NaN,2
1369,"Roubaix, Greater Lille, France",NaN,NaN,2
1267,"Twin Cities, Minnesotta, United States",NaN,NaN,2
1097,"Arkhangelskoye, Greater Moscow, Russian Federa...",NaN,NaN,2
1910,"Saint-Jean-Cap-Ferrat, Greater Nice, France",NaN,NaN,2
429,"Ein Harod, Guernsey",NaN,NaN,2
1823,"Louveciennes, Greater Paris, France",NaN,NaN,1
1833,"La Piscine, France",NaN,NaN,1
1850,"Massillon, Vatican City State)",NaN,NaN,1
1876,"Vulaines-sur-Seine, Greater Fontainebleau, France",NaN,NaN,1
1895,"Seymour, Indiaia, United States",NaN,NaN,1
1954,"Carona del Mar, California, United States",NaN,NaN,1
1958,"Recklinghausen, Greater Dortmund, Germany",NaN,NaN,1
191,"Ludwigsburg, Greater Stuttgart, Germany",NaN,NaN,1
1156,"Issy-les-Moulineaux, Greater Paris, France",NaN,NaN,1
1748,"Chitchester, United Kingdom",NaN,NaN,1
1663,"Montpellier, Vermont, United States",NaN,NaN,1
1567,"Schlesswig, Germany",NaN,NaN,1
1523,"Bruton, Isle of Man",NaN,NaN,1
1499,"Sezentendre, Greater Budapest, Hungary",NaN,NaN,1
1433,"Sobral, Romania",NaN,NaN,1
1409,"Batu Gajah, United Kingdom",NaN,NaN,1
1211,"Winston_Salem, North Carolina, United States",NaN,NaN,1
1147,"Itó, Guyana",NaN,NaN,1
1117,"Périgeaux, France",NaN,NaN,1
1038,"Dachau, Greater Munich, Germany",NaN,NaN,1
960,"Miyazaki City, Miyazaki, Japan",NaN,NaN,1
959,"Montreuil, Greater Paris, France",NaN,NaN,1
437,"Pontoise, Greater Paris, France",NaN,NaN,1
1980,"Ariccia, Greater Rome, Italy",NaN,NaN,1

In [76]:
locations_df.head()

                  location_str   latitude  longitude  num_paintings
26      London, United Kingdom  51.507322  -0.127647          12422
18               Paris, France  48.856610   2.351499           4242
30     New York, United States  40.730599 -73.986581           3873
6   Moscow, Russian Federation  55.750683  37.617498           2743
85      Amsterdam, Netherlands  52.374540   4.897976           1980

In [77]:
locations_df.to_csv('data/geolocation_map.csv', index = False)